*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
    -webkit-font-smoothing: antialiased;
}

:root{
    --bg-color: #f4f6fa;
    --purple: #a729f5
    --primary-text-color: #313e51
    --secondary-text-color: #626c7f
    --button-bg: #fff
    --shadow: 0px 16px 40px 0px rgba(143, 160, 193, 014);
    --bg-html: #fff1e9;
    --bg-css: #e0fdef;
    --bg-javascript: #ebf0ff;
    --bg-acessibilidade: #f6e7ff;
    --white: #fff
    --bg-mobile: url(./assets/images/pattern-background-mobile-light.svg);
    --bg-desktop: url(./assets/images/pattern-background-desktop-light.svg);
}

body{
    height: 100svh;
    background: var(--bg-mobile) var(--bg-color);
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    padding: 16px 24px;
    display: flex;
    justify-content: flex-end;
}

.tema{
    padding: 8px 0;
    display: flex;
    align-items: center;
    gap: 8px;
}

.tema img {
    width: 16px;
}

.tema button {
    height: 20px;
    width: 32px;
    background: var(--purple);
    border: 0;
    border-radius: 999px;
    padding: 4px;
}

.tema button div {
    background: var(--white);
    width: 12px;
    height: 12px;
    border-radius: 999px;
}

main {
    padding: 32px 24px;
}

.boas_vindas{
    margin-bottom: 40px;
}

.boas_vindas h1{
    font-size: 40px;
    font-weight: 300;
    color: var(--primary-text-color);
    margin-bottom: 16px;   
}

.boas_vindas h1 strong{
    font-weight: 500;
}

.boas_vindas p{
    color: var(--secondary-text-color);
    font-size: 14px;
    line-height: 150%;
    font-style: italic;
}

.assuntos{
    display: flex;
    flex-direction: column;
    gap: 12px;
} 

.assuntos button{
    border: none;
    background: var(--button-bg);
    display:flex;
    align-items: center;
    gap: 16px;
    padding: 12px;
    border-radius: 12px;
    box-shadow: var(--shadow);
    font-size: 16px;
    font-weight: 500;
    color: var(--primary-text-color);
}


.assuntos button div{
    width: 40px;
    height: 40px;
    padding: 5px;
    border-radius: 5px;
}

.assuntos button img{
    width: 100%;
}


.botao_html div{
    background: var(--bg-html);
}

.botao_css div{
    background: var(--bg-css);
}

.botao_javascript div{
    background: var(--bg-javascript);
}

.botao_acessibilidade div{
    background: var(--bg-acessibilidade);
}

@media (min-width: 1100px){
    body{
        background: var(--bg-desktop) var(--bg-color);
        background-size: cover;
        background-repeat: no-repeat;
    }
    header {
        margin-block: 81px;
    }

    .tema {
        gap: 16px;
    }

    .tema img {
        width: 24px;
    }

    .tema button {
        width: 48px;
        height: 28px;
    }

    .tema button div {
       width: 28px;
       height: 28px;
    }

    main {
        display: flex;
        max-width: 1160px;
        margin-inline: auto;
    }

    section{
        width: 100%;
    }

    .boas_vindas h1 {
        font-size: 64px;
        margin-bottom: 48px;
    }

    .boas_vindas p {
        font-size: 20px;
    }

    .assuntos {
        gap: 24px;
    }

    .assuntos button {
        font-size: 28px;
        padding: 20px;
        gap: 32px;
    }

    .assuntos button div {
        width: 56px;
        height: 56px;
        padding: 8px;
    }
    
}