* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
    -webkit-font-smoothing: antialiased;
}
:root {
    --bg-color: #f4f6fa;
    --white: #fff;
    --primary-text-color: #313e51;
    --secondary-text-color: #626c7f;
    --button-bg: #fff;
    --shadow: 0px 16px 40px 0px rgba(143, 160, 193, 0.14);
    --bg-html: #fff1e9;
    --bg-css: #e0fdef;
    --bg-javascript: #ebf0ff;
    --bg-acessibilidade: #f6e7ff;
    --purple: #a729f5;
    --bg-mobile: url(../../assets/images/pattern-background-mobile-light.svg);
    --bg-desktop: url(../../assets/images/pattern-background-desktop-light.svg);


}

body.escuro {
    --bg-color: #313e51;
    --bg-mobile: url(../../assets/images/pattern-background-mobile-dark.svg);
    --bg-desktop: url(../../assets/images/pattern-background-desktop-dark.svg);
    --primary-text-color: #fff;
    --secondary-text-color: #abc1e1;
    --button-bg: #3b4d66;
    --shadow: 0px 16px 40px 0px rgba(49, 62, 81, 0.14);
}

body {
    height: 100svh;
    background: var(--bg-mobile) var(--bg-color);
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    display: flex;
    justify-content: space-between;
padding: 16px 24px;
}

.assunto {
    display: flex;
    align-items: center;
    gap: 16px;
}

.assunto_icone {
    background: var(--bg-acessibilidade);
    width: 40px;
    height: 40px;
    padding: 5px;
    border-radius: 5px;
}

.assunto_icone img {
    width: 100%;
}

.assunto h1 {
    font-size: 18px;
    font-weight: 500;
    color:var(--primary-text-color);
}

.tema {
    padding: 8px 0;
    display: flex;
    align-items: center;
    gap: 8px;
}

.tema img {
    width: 16px;
}

.tema button {
    height: 20px;
    width: 32px;
    background: var(--purple);
    border: 0;
    border-radius: 999px;
    padding: 4px;

}

.tema button div {
    background: var(--white);
    width: 12px;
    height: 12px;
    border-radius: 999px;
}

main {
    padding: 32px 24px;
}

.pergunta {
    margin-bottom: 40px;
}

.pergunta p {
    font-style: italic;
    font-size: 14px;
    color: var(--secondary-text-color);
    margin-bottom: 12px;
}

.pergunta h2 {
    font-size: 20px;
    font-weight: 500;
    color: var(--primary-text-color);
    line-height: 24px;
    margin-bottom: 24px;

}
.barra_progresso {
    background: var(--button-bg);
    height: 16px;
    padding: 4px;
    border-radius: 999px;
}

.barra_progresso div {
    height: 100%;
    width: 60%;
    background: var(--purple);
    border-radius: 999px;
}

.alternativas form {
    display: flex;
    gap: 12px;
    flex-direction: column;
    font-size: 18px;
}

.alternativas label {
    display: block;
    background: var(--button-bg);
    padding: 12px;
}

.alternativas input {
    display: none;
}

@media(min-width: 1100px) {
    .tema {
        gap: 16px;
    }

    .tema img {
        width: 24px;
    }

    .tema button {
        width: 48px;
        height: 28px;
    }

    .tema button div {
        width: 20px;
        height: 20px;
    }
}